/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

#main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.footer-btn {
  padding-bottom: 150px;
}

.content {
  padding-left: 27px;
  padding-right: 27px;
}
.content--done {
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex-wrap {
  flex-wrap: wrap;
  display: flex;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

h1, .h1 {
  font-weight: normal;
  font-size: 40px;
  line-height: 125%;
}

h3, .h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: 27px 0 0;
}

.info-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  color: #818181;
  margin: 38px 0 18px;
}

p {
  margin: 0 0 20px;
}

.btn-submit-prise {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #F25A29;
  text-decoration: none;
  text-align: center;
  outline: 0;
  border: 0;
  transition: 0.3s all ease;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  line-height: 125%;
}
.btn-submit-prise:hover, .btn-submit-prise:focus {
  background: #FF5722;
}

.btn-wrap {
  width: 100%;
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
}
.btn-wrap .btn {
  min-width: 280px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  transition: 0.3s all ease;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  color: #FFFFFF;
  background: #282828;
  border-radius: 6px;
  height: 50px;
  text-align: center;
}
.btn:focus, .btn:active {
  background: #607d8b;
}

.header {
  padding: 62px 0 16px;
}
.header__logo {
  display: block;
  width: 94px;
  height: 34px;
  margin: auto;
  background: url("images/logo.png") no-repeat center;
  background-size: cover;
}
.header__back {
  position: absolute;
  top: 67px;
  left: 23px;
  width: 23px;
  height: 23px;
  background: url("images/back.png") no-repeat center;
  background-size: cover;
}

.welcome-slider .slick-slide {
  outline: 0 !important;
}
.welcome-slider__item {
  height: 340px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block !important;
  text-decoration: none;
}
.welcome-slider__price {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 46px;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  line-height: 46px;
}
.welcome-slider .slick-dots {
  position: absolute;
  left: 0;
  bottom: 15px;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 100;
}
.welcome-slider .slick-dots li {
  transition: 0.3s all ease;
  margin: 0 5px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.47);
  width: 10px;
  height: 10px;
}
.welcome-slider .slick-dots li:hover, .welcome-slider .slick-dots li.slick-active {
  background: #000;
}
.welcome-slider .slick-dots button {
  display: none !important;
}

.form {
  border: 2px solid #000000;
  border-radius: 10px;
  position: relative;
  padding: 0 19px 42px;
  margin: 48px auto;
  max-width: 326px;
}
.form__title {
  position: relative;
  margin-top: -16px;
  margin-bottom: 48px;
  z-index: 10;
  text-align: center;
}
.form__title span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  font-weight: bold;
  font-size: 15px;
}
.form__title span:before, .form__title span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  background: #fff;
}
.form__title span:before {
  right: 100%;
}
.form__title span:after {
  left: 100%;
}

.form-row {
  margin-bottom: 15px;
}
.form-row--submit {
  margin-top: 33px;
}
.form-row--m-large {
  margin-top: 36px;
}
.form-row__item {
  position: relative;
}
.form-row__item--small {
  width: 50px;
}
.form-row__item--icon .icon-card {
  width: 17px;
  height: 17px;
  background: url("images/card.png") no-repeat center;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 7px;
  left: 0;
}
.form-row__item--icon .form-row__input {
  padding-left: 25px;
}
.form-row__label {
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  color: #000000;
  transition: 0.3s all ease;
  position: relative;
  z-index: 10;
  display: block;
  transform: translate(0, 21px);
}
.form-row--icon .form-row__label {
  transform: translate(25px, 21px);
}
.form-row--active .form-row__label {
  transform: translate(0, 0);
}
.form-row__input {
  font-size: 12px;
  line-height: 150%;
  color: #000;
  padding: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  height: 37px;
  margin: -4px 0 0;
  display: block;
  width: 100%;
}
.form-row__input::-ms-input-placeholder {
  color: #000;
}
.form-row__input::placeholder {
  color: #000;
}
.form-submit {
  text-decoration: none;
  border: 0;
  outline: 0;
  transition: 0.3s all ease;
  background: #282828;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  padding: 0 25px;
  margin: 0;
  display: block;
}
.form-submit:focus, .form-submit:active {
  background: #607d8b;
}