.btn-submit-prise {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #F25A29;
  text-decoration: none;
  text-align: center;
  outline: 0;
  border: 0;
  transition: 0.3s all ease;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  line-height: 125%;

  &:hover ,
  &:focus {
    background: #FF5722;
  }
}

.btn-wrap {
  width:100%;
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;

  .btn {
    min-width: 280px;
  }
}

.btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  transition: 0.3s all ease;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  color: #FFFFFF;
  background: #282828;
  border-radius: 6px;
  height: 50px;
  text-align: center;

  &:focus ,
  &:active {
    background: #607d8b;
  }
}