*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

#main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.footer-btn {
  padding-bottom: 150px;
}

.content {
  padding-left: 27px;
  padding-right: 27px;

  &--done {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.flex-wrap {
  flex-wrap: wrap;
  display: flex;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}