h1 , .h1 {
  font-weight: normal;
  font-size: 40px;
  line-height: 125%;
}

h3 , .h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin: 27px 0 0;
}

.info-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  color: #818181;
  margin: 38px 0 18px;
}

p {
  margin: 0 0 20px;
}
