.form {
  border: 2px solid #000000;
  border-radius: 10px;
  position: relative;
  padding: 0 19px 42px;
  margin: 48px auto;
  max-width: 326px;

  &__title {
    position: relative;
    margin-top: -16px;
    margin-bottom: 48px;
    z-index: 10;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: top;
      position: relative;
      background: #fff;
      font-weight: bold;
      font-size: 15px;

      &:before ,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 30px;
        background: #fff;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }
    }
  }
}

.form-row {
  margin-bottom: 15px;

  &--submit {
    margin-top: 33px;
  }

  &--m-large {
    margin-top: 36px;
  }

  &__item {
    position: relative;

    &--small {
      width: 50px;
    }

    &--icon {
      .icon-card {
        width: 17px;
        height: 17px;
        background: url("#{$rootUrl}card.png") no-repeat center;
        background-size: cover;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 7px;
        left: 0;
      }

      .form-row__input {
        padding-left: 25px;
      }
    }
  }

  &__label {
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    color: #000000;
    transition: 0.3s all ease;
    position: relative;
    z-index: 10;
    display: block;
    transform: translate(0, 21px);
  }

  &--icon {
    .form-row__label {
      transform: translate(25px, 21px);
    }
  }

  &--active {
    .form-row__label {
      transform: translate(0, 0);
    }
  }



  &__input {
    font-size: 12px;
    line-height: 150%;
    color: #000;
    padding: 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    height: 37px;
    margin: -4px 0 0;
    display: block;
    width: 100%;

    &::placeholder {
      color: #000;
    }

    &:active {
      //border-color: red;
    }
  }
}

.form-submit {
  text-decoration: none;
  border: 0;
  outline: 0;
  transition: 0.3s all ease;
  background: #282828;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  padding: 0 25px;
  margin: 0;
  display: block;

  &:focus ,
  &:active {
    background: #607d8b;
  }
}