.header {
  padding: 62px 0 16px;

  &__logo {
    display: block;
    width: 94px;
    height: 34px;
    margin: auto;
    background: url("#{$rootUrl}logo.png") no-repeat center;
    background-size: cover;
  }

  &__back {
    position: absolute;
    top: 67px;
    left: 23px;
    width: 23px;
    height: 23px;
    background: url("#{$rootUrl}back.png") no-repeat center;
    background-size: cover;
  }
}