.welcome-slider {
  .slick-slide {
    outline: 0!important;
  }

  &__item {
    height: 340px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block!important;
    text-decoration: none;
  }

  &__price {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 46px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    line-height: 46px;
  }

  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 15px;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;

    li {
      transition: 0.3s all ease;
      margin: 0 5px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.47);
      width: 10px;
      height: 10px;

      &:hover,
      &.slick-active {
        background: #000;
      }
    }

    button {
      display: none!important;
    }
  }
}