extends layout/layout

block content
  #main
    header.header
      a(href="").header__logo
      a(href="").header__back
    .content
      .form
        h3.form__title
          span Pay with Card
        .form-row.form-row--active
          label.form-row__label Name
          input(type="text" placeholder="Jane Doe" value="").form-row__input
        .form-row
          label.form-row__label Email
          input(type="text" placeholder="janedoe@gmail.com" value="").form-row__input
        .form-row
          label.form-row__label Phone
          input(type="tel" placeholder="janedoe@gmail.com" value="").form-row__input
        .form-row.form-row--m-large.form-row--icon
          label.form-row__label Card
          .flex-wrap
            .form-row__item.form-row__item--icon.col
              i.icon-card
              input(type="text" placeholder="Card Number" value="").form-row__input
            .form-row__item.form-row__item--small
              input(type="text" placeholder="MM/YY" value="").form-row__input
            .form-row__item.form-row__item--small
              input(type="text" placeholder="CVC" value="").form-row__input
        .form-row
          label.form-row__label Code
          input(type="tel" placeholder="Enter Offer Code" value="").form-row__input
        .form-row.form-row--submit
          a(href="").form-submit PAY $60
      h3 Fine Print
      p We probably need to write something here in order to make people feel as comfortable as possible. This should include a reminder of our 100% satisfaction guarantee. Maybe we can get a seal from someone.