extends layout/layout

block content
  #main
    header.header
      a(href="").header__logo
      a(href="").header__back
    .content.content--done
      h3 Thank you! And welcome.
      p If you have 2 more minutes now, we can complete your on-boarding. Otherwise we will email you a link where you can finish the setup process at another time.
    .btn-wrap
      a(href="").btn Start On-boarding